<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>N-Dimensions</title>
  <link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" charset="utf-8"></script>
  <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" charset="utf-8"></script>
</head>

<body>
<form action="/" method="get">
<input type="text" name="ip_address" value="" placeholder="IP Address" /> Exclude IP : <input type="checkbox" name="ip_address_exclude"> <br />
<input type="text" name="snort_rule_id" value="" placeholder="Snort Rule ID"> Exclude ID : <input type="checkbox" name="snort_rule_id_exclude"> <br />
<input type="submit" name="" value="Submit"> <br> <br>
</form>


  <table id="sensorData">
    <thead>
      <tr>
        <th>SID</th>
        <th>Host</th>
        <th>Priority</th>
        <th>Category</th>
        <th>Alert Count Sum</th>
        <th>Message</th>
        <th>Comm. Pairs</th>
      </tr>
    </thead>
    <tbody>
      {% if table_data %}
      {% for data in table_data %}
      <tr>
        <td>{{ data.sid }}</td>
        <td>{{ data.host }}</td>
        <td>{{ data.priority }}</td>
        <td>{{ data.category }}</td>
        <td>{{ data.alert_count_sum }}</td>
        <td>{{ data.message }}</td>
        <td>{% for pair in data.communication_pairs %}
            <span style="font-size:10px">
            {{ pair }} <br/>
            </span>
            {% endfor %}
        </td>
      </tr>
      {% endfor %}
      {% endif %}
    </tbody>
  </table>
  <script type="text/javascript">
    $(document).ready(function() {
      $('#sensorData').DataTable({
        "ordering": false
      });
    });
  </script>
</body>

</html>
